@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white; 
}

@media (max-width:740px) {
    .active p{
        @apply text-white bg-cyan-600
    }
}
